:root {
  --primary-color: #0092ca;
  --secondary-color: #f4f4f4;
  --small-font-size: calc(6.5px + 0.6vw);
  --standard-font-size: calc(5px + 1vw);
  --medium-font-size: calc(10px + 1vw);
  --large-font-size: calc(15px + 2vw);
  --primary-font-weight-400: 400;
  --secondary-font-weight-800: 800;
  --standard-line-height: 1.2;
  --large-line-height: 2.5;
  --standard-border-radius: 5px;
  --large-border-radius: 10px;
  --standard-box-shadow: 0px 10px 10px 5px rgba(192, 192, 192, 0.466);
  --large-box-shadow: 0px 10px 100px 5px rgba(192, 192, 192, 0.226);
  --standard-transition: all 0.3s linear;
  --large-transition: all 0.5s linear;
  --all-side-padding: calc(5px + 1vw);
  --top_bottom-padding: calc(5px + 1vw) 0;
  --left-right-padding: 0 calc(5px + 1vw);
  --all-side-margin: calc(5px + 1vw);
  --top_bottom-margin: calc(5px + 1vw) 0;
  --left-right-margin: 0 calc(5px + 1vw);
  --primary-border: 1px solid red;
  --secondary-border: 2px solid #f4f4f4;
  --tertiary-border: 1px solid #0092ca;
  --primary-background: #0092ca;
  --secondary-background: rgba(0, 0, 0, 0.4);
  --tertiary-background: rgba(0, 0, 0, 0.9);
}

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Muli, sans-serif;
}
body {
  height: 100%;
  width: 100%;
}
.sec-1-navbar {
  height: calc(20px + 5vw);
  width: 100%;
  position: fixed;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background);
  transition: var(--standard-transition);
  /* border: var(--primary-border); */
}
.fixed-navbar {
  height: 60px;
  background-color: var(--tertiary-background);
}
.sec-1-navbar-logo {
  height: calc(70px + 10px);
  width: calc(100px + 10vw);
  background-image: url(/IT_Mindlabs-imgs/155628402_padded_logo-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: var(--secondary-border); */
}
.sec-1-navbar-ul {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  /* border: var(--secondary-border); */
}
.sec-1-navbar-ul-li {
  position: relative;
  font-size: var(--standard-font-size);
  font-weight: var(--primary-font-weight-400);
  line-height: var(--large-line-height);
  color: var(--secondary-color);
  /* border: var(--tertiary-border); */
}
.sec-1-navbar-ul-li::after {
  position: absolute;
  bottom: 8px;
  left: 0;
  content: "";
  width: 0%;
  visibility: hidden;
  transition: var(--standard-transition);
  border: var(--tertiary-border);
}
.sec-1-navbar-ul-li:hover::after {
  width: 100%;
  visibility: visible;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
.sec-1-navbar-ul-li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.arow_head_rotate {
  transform: rotateX(0deg);
  transition: var(--standard-transition);
}
.sec-1-navbar-ul-li:hover .arow_head_rotate {
  transform: rotateX(180deg);
}
.sec-1-home-dropdown {
  height: 0;
  width: max-content;
  background-color: white;
  margin: 0 -180%;
  position: absolute;
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  padding: 10px 100px;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.5s linear;
  /* border: 2px solid red; */
}
.sec-1-navbar-ul-li:hover .sec-1-home-dropdown {
  height: 445px;
  visibility: visible;
}
.sec-1-home-dropdown-ul-1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
  /* border:  2px solid blue; */
}
.sec-1-home-ul-li {
  height: 40px;
  width: max-content;
  list-style: none;
  font-size: var(--small-font-size);
  color: gray;
  border: var(--secondary-border);
}
.drpdwn_ul_hdr {
  color: darkslategrey;
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #0092ca;
}
.sec-1-home-ul-li:hover {
  cursor: pointer;
  color: #0092ca;
}
.primary_btn {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #0092ca;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
  border: 2px solid transparent;
}
.primary_btn:hover {
  cursor: pointer;
  background-color: white;
  color: #0092ca;
  border: 2px solid #0092ca;
}
.sec-1-navbar-icn_cntnr {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}
.login-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#sec-1-landing-view {
  height: 880px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/IT_Mindlabs-imgs/consulting2.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 5px solid yellow; */
}
.sec1_landing_view_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid white; */
}
.greetings {
  font-size: 26px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  color: white;
  /* border: 1px solid red; */
}
.sec-1-landing-view-transform-main {
  height: 80px;
  width: 950px;
  border-right: 4px solid white;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  /* border: 2px solid red; */
  animation: width-animate 15s ease-in infinite;
}
@keyframes width-animate {
  0% {
    width: 0px;
  }
  5% {
    width: 530px;
  }

  25% {
    width: 530px;
  }
  30% {
    width: 0px;
  }
  35% {
    width: 770px;
  }
  65% {
    width: 770px;
  }
  70% {
    width: 0px;
  }
  75% {
    width: 800px;
  }
  95% {
    width: 800px;
  }
  100% {
    width: 0%;
  }
}
.sec-1-animate-txt-1 {
  position: absolute;
  font-size: 60px;
  font-weight: 600;
  line-height: 85px;
  color: white;
  /* margin-left: 5px; */
  animation: txt-1-close 15s linear infinite;
}
@keyframes txt-1-close {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.sec-1-animate-txt-2 {
  position: absolute;
  font-size: 60px;
  font-weight: 600;
  line-height: 85px;
  color: white;
  /* margin-left: 180px; */
  animation: txt-2-close 15s linear infinite;
}
@keyframes txt-2-close {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  34% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.sec-1-animate-txt-3 {
  position: absolute;
  font-size: 60px;
  font-weight: 600;
  line-height: 85px;
  color: white;
  animation: txt-3-close 15s linear infinite;
}
@keyframes txt-3-close {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.sec-1-landing-view-p {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  color: white;
  text-align: center;
  /* border: 2px solid red; */
}
.sec-1-landing-view-btns_cntnr {
  display: flex;
  gap: 2rem;
  /* border: 1px solid yellow; */
}
#scrl-sec-2 {
  height: max-content;
  width: 100%;
  /* border: 5px solid red; */
}
.sec-2-divs-float {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transform: translateY(-200px);
  /* border: 3px solid yellowgreen; */
}
.sec-2-div1 {
  height: 100%;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background-color: white;
  box-shadow: 0px 10px 10px 5px rgba(192, 192, 192, 0.466);
  transition: all 0.3s linear;
  /* border: 4px solid black; */
}
.sec-2-div2 {
  background-color: #0092ca;
  color: white;
  /* border: 3px solid salmon; */
}
.sec-2-div2 > .sec-2-div1-a {
  color: white;
  /* border: 2px solid red; */
}
.sec-2-div1:hover {
  margin-top: -10px;
  background-color: #0092ca;
  color: white;
}
.sec-2-div1:hover .sec-2-div1-a {
  color: white;
}
.sec-2-div1-img {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  background-image: url(/IT_Mindlabs-imgs/product_icn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% 40%;
  transform: scale(0.92);
  transition: all 0.3s linear;
  border: 2px solid #0092ca;
}
.sec-2-div1:hover .sec-2-div1-img {
  transform: scale(1);
}
.sec-2-div1-img2 {
  background-image: url(/IT_Mindlabs-imgs//digital-services_icn.png);
  border: 2px solid white;
}
.sec-2-div1-img3 {
  background-image: url(/IT_Mindlabs-imgs/consultant_icn.png);
  border: 2px solid #0092ca;
}
.sec-2-div1:hover .sec-2-div1-img3 {
  background-color: white;
  border: 2px solid white;
}
.sec-2-div1:hover .sec-2-div1-img {
  background-color: white;
  border: 2px solid white;
}
.sec-2-div1-h1 {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.sec-2-div1-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.sec-2-div1-a {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #0092ca;
}
.sec-2-div1-a:hover {
  cursor: pointer;
}
.sec-2-divs-lft_rght {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  transform: translateY(-100px);
  /* border: 3px solid blue; */
}
.sec-2-lft-img {
  height: 520px;
  width: 45%;
  background-image: url(/IT_Mindlabs-imgs/about-video-img2.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 85%;
  /* border: 3px solid goldenrod; */
}
.sec-2-rght-txt {
  height: max-content;
  width: 650px;
  /* border: 4px solid fuchsia; */
}
.sec-2-rght-h1 {
  font-size: 136px;
  font-weight: 700;
  line-height: 136px;
  color: #0092ca;
  display: inline-block;
}
.sec-2-rght-h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  display: inline-block;
  margin-left: 30px;
}
.sec-2-rght-p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: grey;
  margin-bottom: 3rem;
}
/* .sec-2-rght-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  background-color: #0092ca;
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  margin-top: 40px;
  border-color: #0092ca;
}
.sec-2-rght-btn:hover {
  cursor: pointer;
  color: #0092ca;
  background-color: white;
} */
.sec-2-play-n-btn-main {
  height: 100px;
  width: 100px;
  border: 1px solid transparent;
  position: relative;
  top: 220px;
  left: 330px;
}
.sec-2-play-btn-scale {
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: white;
  animation: play-btn 1.8s linear 0.6s infinite;
}
@keyframes play-btn {
  form {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.sec-2-play-btn-scale2 {
  position: absolute;
  top: 0%;
  opacity: 0.6;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: white;
  animation: play-btn 1.8s linear 1.2s infinite;
}
.sec-2-play-btn-scale3 {
  height: 80px;
  width: 80px;
  position: absolute;
  top: 0%;
  border-radius: 50%;
  border: 1px solid transparent;
  animation: play-btn 1.8s linear 1.8s infinite;
  opacity: 8;
  background-color: white;
}
.sec-2-lft-img-vdio-icon {
  position: absolute;
  top: 0%;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  border: 1px solid transparent;
  background-color: white;
  background-image: url(/IT_Mindlabs-imgs/play-button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% 40%;
}
.sec-3-srvcs {
  height: 98vh;
  width: 100%;
  background-image: url(/IT_Mindlabs-imgs/iam_bg_img-min.jpeg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* border: 2px solid red; */
}
.sec-3-srvcs-bg {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 5% 0; */
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5rem 0 2rem 0;
  /* border: 3px solid blue; */
}
.sec-3-h5 {
  font-size: 20px;
  font-weight: 700;
  line-height: 21px;
  color: #0092ca;
  letter-spacing: 3px;
  text-align: center;
}
.sec-3-srvcs-h1 {
  margin-top: calc(5px + 8vw);
  font-size: calc(5px + 4vw);
  color: white;
  text-align: center;
  /* border: 2px solid red; */
}
.line-animate {
  height: 5px;
  width: 100px;
  background-color: lightblue;
  border-radius: 2px;
}
.line-crcl-animate {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #0092ca;
  margin-top: -2px;
  animation: line-animate 3s linear infinite alternate;
}
@keyframes line-animate {
  form {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}
.sec-3-divs-float {
  height: max-content;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding: 1% 0;
  flex-wrap: wrap;
  /* border: 3px solid red; */
}
.sec-3-div1 {
  height: max-content;
  width: 30%;
  /* border: 3px solid yellow; */
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  gap: 1.5rem;
  margin-bottom: 4%;
  background-color: rgba(0, 0, 0, 0.397);
  box-shadow: 0px 10px 100px 5px rgba(192, 192, 192, 0.226);
  transition: all 0.3s linear;
}
.sec-3-div1:hover {
  background-color: #0092ca;
}
.sec-3-div1-img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-image: url(/IT_Mindlabs-imgs/icn2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110% 110%;
  border-top: 2px solid transparent;
  /* animation: border_anim .3s linear infinite; */
}
.sec-3-div1-h1 {
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
}
.sec-3-div1-p {
  font-size: 15px;
  text-align: center;
  line-height: 24px;
}
.sec-3-div1-a {
  display: block;
  font-size: 13px;
  line-height: 21px;
  color: white;
}
.sec-ftr-count {
  position: absolute;
  bottom: -7.5rem;
  height: max-content;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  border-radius: 20px;
  background-image: url(/IT_Mindlabs-imgs/service-bg.jpg);
  background-position: center;
  background-size: cover;
  /* border: 3px solid red;    */
}
.sec-3-ftr-count-div1 {
  height: 130px;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
}
.sec-3-ftr-count-div1-4 {
  border: none;
}
.count-div1-h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: white;
}
.count-div1-h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: white;
  margin-top: 10px;
}
#sec-4-clients {
  width: 100%;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  /* border: 4px solid red; */
}
.sec-4-header {
  height: 150px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
.sec_4_hdr_hdngs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}
.sec-4-header-h5 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #0092ca;
}
.sec-4-header-h1 {
  font-size: 39px;
  font-weight: 800;
  line-height: 47px;
}
.line-animate-sec-4-clients {
  display: inline-block;
}
.line-crcl-animate-sec4 {
  margin-top: -3px;
}
.sec-4-header-btn {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: white;
  background-color: #0092ca;
  padding: 17px 30px;
  border: none;
  border-radius: 5px;
}
.sec-4-header-btn:hover {
  cursor: pointer;
  background-color: #0092ca;
}
.sec-4-slider-main {
  height: 450px;
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
}
.sec-4-slider-inr-main {
  height: 100%;
  width: 200%;
  animation: slider-sec-4 12s linear infinite;
}
@keyframes slider-sec-4 {
  0% {
    margin-left: 0;
  }
  12.5% {
    margin-left: 0;
  }
  25% {
    margin-left: -25%;
  }
  37.5% {
    margin-left: -25%;
  }
  50% {
    margin-left: -50%;
  }
  62.5% {
    margin-left: -50%;
  }
  75% {
    margin-left: -75%;
  }
  87.5% {
    margin-left: -75%;
  }
  100% {
    margin-left: -100%;
  }
}
.sec-4-slider-divs {
  height: 100%;
  width: 12.35%;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
  position: relative;
}
.slider-img {
  height: 100%;
  width: 100%;
  position: absolute;
}
.sec-4-slider-divs-innr {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  background-color: #0c5bdba4;
  transition: all 0.3s linear;
  opacity: 0;
  position: absolute;
  top: 0;
}
.sec-4-slider-divs-innr:hover {
  opacity: 1;
}
.sec-4-slider-divs-innr:hover .slider-divs-innr-1 {
  margin-top: 50%;
}
.slider-divs-innr-1 {
  height: 130px;
  width: 230px;
  background-color: white;
  margin-top: 70%;
  margin-left: 13%;
  border-radius: 10px;
  transition: all 0.3s linear;
  border: 1px solid transparent;
}
.slider-divs-innr-h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  margin-top: 40px;
}
.slider-divs-innr-h3:hover {
  cursor: pointer;
  color: #0092ca;
}
.slider-divs-innr-h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0092ca;
  text-align: center;
  margin-top: 8px;
}
.sec-4-slider-ftr {
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.sec-4-sldr-ftr-1 {
  height: 8px;
  width: 30px;
  background-color: silver;
  border-radius: 4px;
  transition: all 0.3s linear;
}
.sec-4-sldr-ftr-1:hover {
  cursor: pointer;
  width: 50px;
  background-color: #0092ca;
}
.sec-4-header-2 {
  height: 150px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.sec-4-process {
  height: 300px;
  width: 80%;
}
.sec-4-process-inr {
  height: 100%;
  width: 33%;
  position: relative;
  display: inline-block;
  /* border: 1px solid red; */
}
.sec-4-process-inr:hover .sec-4-prcs-icn1 {
  transform: scale(1.2);
}
.sec-4-prcs-doted-line {
  width: 230px;
  border-bottom: 1px dashed #0092ca;
  position: absolute;
  top: 20%;
  left: 70%;
  background-image: linear-gradient(
    90deg,
    #0092ca,
    #0092ca 60%,
    transparent 20%,
    transparent 100%
  );
  background-size: 10px 1px;
}
.sec-4-prcs-icn1 {
  position: absolute;
  height: 90px;
  width: 90px;
  background-color: #0092ca;
  border-radius: 50%;
  top: 5%;
  left: 39%;
  opacity: 0.2;
  transition: all 0.3s linear;
}
.sec-4-prcs-icn2 {
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: #0092ca;
  border-radius: 50%;
  top: 8.5%;
  left: 41.8%;
  opacity: 0.5;
  transition: all 0.3s linear;
}
.sec-4-process-inr:hover .sec-4-prcs-icn2 {
  transform: scale(1.2);
}
.sec-4-prcs-icn3 {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #0092ca;
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 50%;
  top: 11.7%;
  margin-left: 44.5%;
  opacity: 1;
  transition: all 0.3s linear;
}
.sec-4-process-inr:hover .sec-4-prcs-icn3 {
  transform: scale(1.2);
}
.sec-4-prcs-h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  position: absolute;
  top: 45%;
  left: 30%;
}
.sec-4-prcs-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #616161;
  text-align: center;
  margin-top: 180px;
}
#sec-5-hpy-clints {
  /* height: 750px; */
  width: 100%;
  padding: 3rem 0;
  background-image: url(/IT_Mindlabs-imgs/slider03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
}
.sec-5-header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 2rem;
  /* border: 3px solid aqua; */
}
.sec-5-slider-main {
  height: 350px;
  width: 80%;
  position: relative;
  overflow: hidden;
}
.sec-5-slider-inr-main {
  height: 100%;
  width: 160%;
}
#sec-5-slider-divs1 {
  height: 100%;
  width: 20.6%;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
}
.sec-5-slider-divs {
  height: 100%;
  width: 20.6%;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
}
#sec-5-slider-divs4 {
  height: 100%;
  width: 20.6%;
  border-radius: 5px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  border: 1px solid transparent;
}
.sec-5-slider-innr {
  height: 60%;
  width: 100%;
  background-color: white;
  position: absolute;
  border-radius: 10px;
}
.sec-5-clip-path {
  height: 50px;
  width: 50px;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  position: absolute;
  top: 90%;
  background-color: white;
}
.sec-5-slider-innr-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #616161;
  position: absolute;
  top: 20%;
  left: 10%;
}
.sec-5-slidr-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 120%;
}
.sec-5-slidr-stars {
  font-size: 30px;
  color: white;
  margin-top: 240px;
  margin-left: 100px;
}
.sec-2-sldr-h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: white;
  margin-top: 5px;
  margin-left: 100px;
}
.sec-2-sldr-h22 {
  margin-top: 0px;
  font-size: 15px;
  letter-spacing: 1px;
}
.sec-5-slider-ftr {
  height: 15px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent;
}
.sec-5-sldr-ftr-1 {
  height: 8px;
  width: 30px;
  background-color: silver;
  border-radius: 4px;
  transition: all 0.3s linear;
  border: 1px solid transparent;
}
.sec-5-sldr-ftr-1:hover {
  cursor: pointer;
  width: 50px;
  background-color: #0092ca;
}
.sec-6-exprnc {
  height: 800px;
  width: 100%;
  display: flex;
  position: relative;
  /* border: 3px solid red; */
}
.sec-6-lft-img {
  height: 650px;
  width: 550px;
  position: absolute;
  top: 80px;
  left: 90px;
  background-image: url(/IT_Mindlabs-imgs/video-img3.png);
  background-position: center;
  background-repeat: no-repeat;
  /* border: 3px solid red; */
  background-size: cover;
}
.sec-6-rght-txt {
  height: 650px;
  width: 650px;
  position: absolute;
  top: 80px;
  /* border: 3px solid red; */
  left: 50%;
}
.sec-6-h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #0092ca;
  display: inline-block;
  /* border: 3px solid red; */
  /* letter-spacing: 5px; */
}
.sec-6-srvcs-h1 {
  font-size: 39px;
  font-weight: 700;
  line-height: 1;
}

.sub_hdngs {
  font-size: calc(3px + 1vw);
  font-weight: bold;
  line-height: 2.5;
  color: #0092ca;
}
.line-animate-sec-6 {
  height: 5px;
  width: 100px;
  background-color: lightblue;
  border-radius: 2px;
  margin-top: 20px;
  display: inline-block;
}
.sec-6-rght-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #616161;
  margin-top: 10px;
}

.sec-6-rght-txt ul {
  color: #616161;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: calc(2px + 0.7vw);
  padding: calc(5px + 1vw) calc(5px + 2vw);
}
.sec-6-rght-aimate-div {
  width: 100%;
  border-bottom: 5px solid silver;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  /* top: 30px; */
  margin-top: 50px;
}
.sec-6-rght-blu-line {
  position: absolute;
  width: 90%;
  border-bottom: 5px solid #0092ca;
  animation: blu-line 1s linear 2;
}
@keyframes blu-line {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
.sec-6-rght-blu-line-txt {
  position: absolute;
  top: -20px;
  left: 90%;
}
.sec-6-rght-blu-line-2 {
  position: absolute;
  width: 96%;
  border-bottom: 5px solid #0092ca;
  animation: blu-line-2 1s linear 2;
}
@keyframes blu-line-2 {
  from {
    width: 0%;
  }
  to {
    width: 96%;
  }
}
.sec-6-rght-blu-line-3 {
  position: absolute;
  width: 70%;
  border-bottom: 5px solid #0092ca;
  animation: blu-line-3 1s linear 2;
}
@keyframes blu-line-3 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
#sec-7-blog {
  height: max-content;
  width: 100%;
  padding: 10rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  background-color: rgba(173, 216, 230, 0.3);
  /* border: 5px solid red; */
}
.sec-7-blg-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  /* border: 2px solid red; */
}
.sec-7-blog-slider-main {
  height: 400px;
  width: 80%;
  position: relative;
  overflow: hidden;
  /* border: 1px solid; */
}
.sec-7-blog-slider-divs {
  height: 100%;
  width: 200%;
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1%;
  /* border: 1px solid; */
}
.sec-7-blog-slider-innr {
  height: 100%;
  width: 16%;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}
.sec-7-blog-slider-main_2 {
  height: max-content;
  width: 100%;
  /* border: 3px solid yellow; */
}
.sec-7-blog-slider-divs_2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  /* border: 1px solid red; */
}
.sec-7-blog-slider-innr_2 {
  height: 100%;
  width: 25%;
  background-color: white;
  padding-bottom: 1.5rem;
  /* border: 1px solid red; */
}
.sec-7-blog-slidr-img {
  width: 100%;
  height: 65%;
}
.sec-7-sldr-h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 0 5%;
  line-height: 25px;
  transition: all 0.3s linear;
  /* border: 3px solid red; */
}
.sec-7-sldr-h2:hover {
  cursor: pointer;
  color: #0092ca;
}
.sec-7-blog-sldr-time {
  height: 30px;
  width: 220px;
  font-size: 14px;
  color: #616161;
  margin: 5% 2% 0 5%;
  transition: all 0.3s linear;
  /* border: 1px solid red; */
}
.sec-7-blog-sldr-time:hover {
  opacity: 0.5;
  cursor: pointer;
}
.sec-7-slider-ftr {
  display: flex;
  gap: 0.5rem;
}
.g-signin2 {
  margin-right: 3rem;
}
/* ...............Add or modify styles as needed.............. */
#prevBtn,
#nextBtn {
  padding: 1rem;
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.477);
  border: none;
  color: white;
  font-size: 2rem;
  font-weight: bolder;
  transform: translateY(-45%);
  cursor: pointer;
  transition: all 0.3s linear;
}
#prevBtn:hover,
#nextBtn:hover {
  background-color: #0091ca75;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
}
#prevBtn {
  left: 9.4px;
}
#nextBtn {
  right: 9.4px;
}
#sec-8-newsltr {
  height: 250px;
  width: 100%;
  background-color: #0092ca;
  position: relative;
  border: 2px solid black;
}
.sec-8-h1 {
  position: absolute;
  top: 20%;
  left: 36%;
  color: white;
  font-size: 31px;
  font-weight: 600;
  line-height: 31px;
}
.sec-8-email {
  position: relative;
  top: 50%;
  left: 22%;
  height: 25%;
  width: 55%;
  border-radius: 10px;
  border: none;
  padding-left: 30px;
}
.sec-8-email:focus {
  outline: none;
}
.sec-8-email::placeholder {
  font-size: 15px;
  padding-left: 0px;
}
.sec-8-btn {
  position: absolute;
  top: 52.5%;
  left: 65%;
  border-radius: 10px;
  padding: 15px 40px;
  background-color: #0092ca;
  border: none;
  color: white;
  font-size: 17px;
}
.sec-8-btn:hover {
  cursor: pointer;
}
.contact_us_sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(10px + 6vw);
  background-color: rgba(173, 216, 230, 0.3);
  padding: calc(10px + 5vw);
  /* border: 3px solid red; */
}

.img_cntnr_contact {
  position: relative;
  height: calc(200px + 17.5vw);
  /* border: 2px solid; */
}

.img_cntnr_contact img {
  height: 100%;
}

.color_layer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 5000;
  /* border: 3px solid red; */
  background-color: #0091ca4d;
}

.contact_us_sec form {
  /* margin: auto; */
  /* padding: 5rem 1rem; */
  width: 45%;
  /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6); */
}
fieldset {
  font-size: 2.5vh;
  padding: calc(5px + 2vw) calc(5px + 2vw);
  /* border: 2px solid #0092ca; */
}
.lbl_inpt_cntnr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
legend {
  padding: 0 1rem;
  color: #0092ca;
}
.lbl_inpt_cntnr input {
  padding: 5px;
  width: 100%;
  margin-top: calc(5px + 0.5vw);
}
.txt_lbl_cntnr {
  margin: calc(5px + 2vw) 0;
}
textarea {
  margin-top: calc(5px + 0.5vw);
  width: 100%;
  height: calc(100px + 4vw);
}
fieldset button {
  float: right;
}
#sec-9-footer {
  height: 100%;
  width: 100%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: url(/IT_Mindlabs-imgs/footer-threee.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 3px solid red; */
}
.ftr-main {
  /* height: 40%; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  /* border: 3px solid palevioletred;  */
}
.sec-9-lft1 {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
}
.sec-9-lft1-logo {
  height: 50px;
  width: calc(50px + 15vw);
  margin-left: -30px;
  background-image: url(/IT_Mindlabs-imgs/155628402_padded_logo-removebg-preview.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-9-lft1-p {
  width: 100%;
  font-size: 15px;
  line-height: 25px;
}
.sec-9-lft1-h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}
.sec-9-lft1-icons {
  height: 40px;
}
.sec-9-lft1-icons:hover {
  cursor: pointer;
}
.sec-9-lft2 {
  display: flex;
  flex-direction: column;
}
.sec-9-lft2-h2 {
  color: white;
  font-size: 22px;
  font-weight: 600;
}
.sec-9-lft2-ul {
  list-style: none;
  color: white;
  font-size: 17px;
}
.sec-9-lft2-ul li {
  margin-top: 20px;
}
.sec-9-lft2-ul li:hover {
  cursor: pointer;
}
.sec-9-lft4 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}
.location_icn_hdr_p_cntnr {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}
.social_media_cntnr_icns {
  display: flex;
  gap: calc(5px + 1.7vw);
  padding: 10px 0;
  font-size: calc(5px + 1.7vw);
  /* border: 2px solid red;  */
}

.social_media_cntnr_icns i:hover {
  color: #0092ca;
  cursor: pointer;
  transition: var(--standard-transition);
}

.locatin_icn {
  height: 40px;
  width: 40px;
  margin-right: 1rem;
  /* border: 2px solid yellow; */
}
.location_hdr_p_cntnr h3 {
  width: max-content;
  border-bottom: 1px solid #0092ca;
}
.location_hdr_p_cntnr p {
  padding-top: 0.5rem;
}
.sec-9-ftr-btm {
  height: 18%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #0092ca;
  color: white;
  /* border: 2px solid red; */
}
.sec-9-ftr-btm-h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 3rem;
}
.ftr_h4_cnntr {
  display: flex;
  gap: 2rem;
}
.arw-up-btn {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  left: 93%;
  top: 87%;
  z-index: 100;
}

.services_dropdown {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: calc(10px + 3vw);
  left: 0;
  height: 0;
  overflow: hidden;
  width: calc(100% + 150px);
  background-color: black;
  box-shadow: 0 0 30px 1px #0091ca2a;
  transition: var(--standard-transition);
}

.sec-1-navbar-ul-li:hover .services_dropdown {
  visibility: visible;
  opacity: 1;
  height: calc(220px + 14vw);
  overflow: hidden;
  z-index: 10000;
  /* border: 1px solid; */
}
.services_dropdown ul {
  list-style: none;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* border: 1px solid white; */
}

.services_dropdown ul li {
  border-bottom: 2px solid #0092ca;
}

.services_dropdown ul li a {
  width: 100%;
  transition: all 0.3s linear;
  font-size: var(--small-font-size);
  line-height: 2;
  padding: 10px 0;
}

.services_dropdown ul li a:hover {
  color: orange;
  cursor: pointer;
}

.advisory_strong {
  font-size: calc(5px + 1.5vw);
  line-height: 1.7;
  font-weight: 600;
  margin: calc(5px + 1vw) 0;
}

.advisory_btn {
  font-weight: bold;
  margin-bottom: calc(5px + 5vw);
}

.platforms_sec {
  /* border: 2px solid red; */
}

.platforms_sec h1 {
  font-size: calc(5px + 2.5vw);
  text-align: center;
  margin-top: calc(5px + 2vw);
}

.logos_cntnr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(5px + 1.5vw);
  margin-top: calc(5px + 2vw);
  margin-bottom: calc(5px + 5vw);
  /* border: 2px solid blue; */
}

.logo_imgs_cntnr {
  height: calc(50px + 1.7vw);
  width: calc(50px + 9vw);
  /* border: 2px solid blue; */
}

.logo_imgs_cntnr img {
  height: 100%;
  width: 100%;
}

.txt_sec {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(5px + 1.5vw);
  padding: calc(10px + 4vw) 0;
  /* border: 2px solid blue; */
  margin-top: calc(5px + 2vw);
  /* margin-bottom: calc(5px + 5vw); */
}

.training {
  height: calc(200px + 14.5vw);
  width: calc(150px + 30vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(5px + 1vw);
  padding: calc(10px + 1vw);
  border: 2px solid #0092ca;
  text-align: center;
  line-height: 1.5;
}

.training h1 {
  font-size: calc(5px + 2.2vw);
  font-weight: 600;
}

.training h4 {
  font-size: calc(5px + 0.8vw);
}

.training p {
  font-size: calc(5px + 0.8vw);
  font-weight: 400;
}

.contact_page_h1 {
  letter-spacing: 1px;
  font-size: calc(10px + 3vw);
  color: black;
}

.hder_subhdr_p {
  padding: calc(50px + 6vw) calc(10px + 6vw) calc(10px + 6vw) calc(10px + 6vw);
  /* border: 2px solid yellow; */
}

.hder_subhdr_p h2 {
  font-size: calc(5px + 3vw);
  font-weight: 600;
  text-align: center;
  color: #0092ca;
}

.hder_subhdr_p h3 {
  font-size: calc(5px + 1.5vw);
  font-weight: 600;
  padding: calc(10px + 1.5vw) 0;
}

.hder_subhdr_p p {
  font-size: calc(5px + 0.8vw);
  font-weight: 400;
  line-height: 1.5;
  padding: calc(5px + 0.5vw) 0;
}

.log_p_cntnr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(5px + 2vw) calc(5px + 8vw);
  /* border: 2px solid; */
}

.img_cntnr {
  height: calc(20px + 20vw);
  width: 25%;
  /* border: 2px solid; */
}

.log_p_cntnr p {
  width: 85%;
  font-size: calc(5px + 1vw);
  padding: 0 calc(5px + 2vw) calc(5px + 2vw) calc(5px + 2vw);
  /* border: 2px solid; */
  line-height: 1.4;
}

.log_p_cntnr p button {
  display: block;
  margin-top: calc(10px + 2vw);
}

.log_p_cntnr img {
  width: 100%;
  height: 75%;
}

.imglft_txtrght {
  /* border: 2px solid; */
}

.imglft_txtrght .sec-6-rght-txt {
  left: 90px;
  /* border: 2px solid; */
}

.imglft_txtrght .sec-6-lft-img {
  left: 55%;
  /* border: 2px solid; */
}

.increase_sec_height {
  height: 1040px;
}

.bg_img_2 {
  background-image: url(/IT_Mindlabs-imgs/vendor_selection.jpg);
}
.bg_img_3 {
  background-image: url(/IT_Mindlabs-imgs/Identity_Recharge_&_Modernization.jpg);
}
.bg_img_4 {
  background-image: url(/IT_Mindlabs-imgs/case7.jpg);
}
.bg_img_5 {
  background-image: url(/IT_Mindlabs-imgs/Zero_TrustCARTA_Guidance.jpg);
}
.bg_img_6 {
  height: 850px;
  background-image: url(/IT_Mindlabs-imgs/procreator-ux-design-studio-VzJjPuk53sk-unsplash.jpg);
}
.bg_img_7 {
  height: 850px;
  background-image: url(/IT_Mindlabs-imgs/annie-spratt-MChSQHxGZrQ-unsplash.jpg);
}
.bg_img_8 {
  height: 850px;
  background-image: url(/IT_Mindlabs-imgs/paul-calescu-KW3m50XRhjk-unsplash.jpg);
}
.bg_img_9 {
  background-image: url(/IT_Mindlabs-imgs/thisisengineering-raeng-w_zE6qlkQKA-unsplash.jpg);
}
.bg_img_10 {
  height: 800px;
  background-image: url(/IT_Mindlabs-imgs/AI_and_Machine_Learning_Analysis_&_Implementation.jpg);
}
.bg_img_11 {
  height: 850px;
  background-image: url(/IT_Mindlabs-imgs/SailPoint_IIQ\ _IDN_Migration_or_Hybrid_Environment_Assistance.jpg);
}
.bg_img_12 {
  height: 850px;
  background-image: url(/IT_Mindlabs-imgs/managing_3rd_party_non_employee.jpg);
}
.bg_img_13 {
  background-image: url(/IT_Mindlabs-imgs/thisisengineering-raeng-w_zE6qlkQKA-unsplash.jpg);
}
.bg_img_14 {
  background-image: url(/IT_Mindlabs-imgs/pam3.jpg);
}
.bg_img_15 {
  background-image: url(/IT_Mindlabs-imgs/cloud_previlgd.jpg);
}
.bg_img_16 {
  background-image: url(/IT_Mindlabs-imgs/end_point_Access.jpg);
}
.bg_img_17 {
  background-image: url(/IT_Mindlabs-imgs/unified_secure.jpg);
}
.bg_img_18 {
  background-image: url(/IT_Mindlabs-imgs/ciam_adviosry.jpg);
}
.bg_img_19 {
  background-image: url(/IT_Mindlabs-imgs/expert_srvices.jpg);
}
.bg_img_20 {
  background-image: url(/IT_Mindlabs-imgs/customer-relationship-management-concept.jpg);
}
.bg_img_21 {
  background-image: url(/IT_Mindlabs-imgs/evaluation1.jpg);
}

/* Styles for screens smaller than 600px */
@media only screen and (max-width: 800px) {
  .sec-2-lft-img {
    display: none;
  }

  .img_cntnr_contact {
    display: none;
  }

  .contact_us_sec form {
    width: 90%;
  }
}
